body{
    margin: 0;
}

div.maintenance-container{
    padding: 3em;
    margin: 3em;
    display: flex;
}

div.maintenance-container > img {
    width: 23em;
    height: 23em;
}

div.maintenance-container > div.maintenance-text{
    margin: auto;
    background: #6a27e8;
    border-radius: 5px;
    padding: 1em;
}

div.maintenance-container > div > p{
    font-size: 2em;
    font-weight: 600;
    font-family: consolas;
    margin: 0;
    color: #fff;
}

