body{
    margin: 0;
}

header{
    display: flex;
    background: #6a27e8;
    justify-content: space-between;
}

header > h1 {
    margin: 0.25em 0 0.25em 0.5em;
    color: white;
    font-family: consolas;
}

header > h1 >span{
    /*color:#F1892A;*/
    color: #6a27e8;
    font-weight: 900;
    background-color: white;
    padding: 0px 5px;
    margin: 0 3px;
    border-radius: 5px;
}
header > span {
    margin: 0.5em 1.5em;
    color: white;
    font-family: consolas;
    font-size: 1.2em;
    border: 1px solid white;
    padding: 0.5em;
    border-radius: 5px;
}

div.maintenance-container{
    padding: 2em;
    margin: 2em;
    display: flex;
}

div.maintenance-container > img {
    width: 23em;
    height: 23em;
}

div.maintenance-container > div.maintenance-text{
    margin: auto;
    background: #6a27e8;
    border-radius: 5px;
    padding: 1em;
}

div.maintenance-container > div > p{
    font-size: 2em;
    font-weight: 600;
    font-family: consolas;
    margin: 0;
    color: #fff;
}
